font-face{
    font-family: Antipasto;
    src: url(fonts/Antipasto-RegularTrial.ttf);
}

font-face{
    font-family: Messages;
    src: url(fonts/Messages.ttf);
}

font-face{
    font-family: Instruction;
    src: url(fonts/Instruction.otf);
}

font-face{
    font-family:;
    src: url(fonts/BeautyDemo.ttf);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}


nav.black {
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;
}

nav .Logo-Title {
    padding: 22px 20px;
    margin-top: -.5%;
    float: left;
    font-size: 5vh;
    transition: .3s;
    font-family: "Instruction";
    color: white;
}

nav.black .Logo-Title {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    color: white;
    font-family: "Antipasto";
    font-size: 3.5vh;
}

nav.black ul li a {
    color: #fff;
}

.Notes-Image-Section {
    widows: 100%;
    height: 100vh;
    background: url(images/notes.jpg);
    background-size: cover;
    background-position: center;
}

#Activity-Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    font-family: "Messages";
    color: black;
}

.Activity-Choice {
    background-color: #00C5CD;
    height: auto;
    width: 100%;
    text-align: center;
}

.center-on-page {
    text-align: left;
    margin-left: 5%;
}

#opts {
    margin-top: 3%;
    padding: 1%;
    font-size: 3vh;
    font-family: "Instruction";
    margin-bottom: 5%;
}

#Note-Title{
    text-align: center;
    font-size: 7vh;
    font-family: "Messages";
    padding-top: 7%;
}

h1 {
    font-size: 5vh;
    font-family: "Antipasto";
    padding-bottom: 1%;
}

h2 {
    font-size: 4vh;
    font-family: "Antipasto";
    padding-bottom: 1%;
    
}

h3 {
    font-size: 3vh;
    font-family: "Antipasto";
    padding-bottom: 1%;
    
}

h4 {
    font-size: 2vh;
    font-family: "Antipasto";
    padding-bottom: 1%;
}

p {
    font-family: Calibri Light;
    font-size: 3vh;
    padding-bottom: 1%;
    text-indent: 2.5%;
}

#btn {
    padding: 1%;
    font-size: 2vh;
    float: right;
    margin-right: 10%;
}

#Topic1-Title{
    text-align: center;
    padding-top: 4%;
}

.Topic-Space {
    width: 60%;
    position: relative;
    float: left;
}

.Topic-Space2 {
    width: 60%;
    position: relative;
    float: left;
    background-color: #F2F2F2;
    margin-top: 3%;
}

.Topic-Space-3 {
    width: 90%;
    padding-left: 2%;
}

#Topic-Sub-Title {
    text-align: center;
}

.Java-Servlet-Space-Container {
    padding: 2%; 
}

.Cycle-Photo {
    width: 30%;
    position: relative;
    float: left;
    height: 50%;
    margin-top: 9%;
}

.Servlet-Photo {
    width: 40%;
    position: relative;
    float: left;
}






.Topic-Space-5 {
    width: 50%;
    position: relative;
    float: left;
    margin-top: 1%;
}
.User-Authentication-Photo {
    width: 40%;
    position: relative;
    float: left;
}





