font-face{
    font-family: Antipasto;
    src: url(fonts/Antipasto-RegularTrial.ttf);
}

font-face{
    font-family: Messages;
    src: url(fonts/Messages.ttf);
}

font-face{
    font-family: Instruction;
    src: url(fonts/Instruction.otf);
}

font-face{
    font-family:;
    src: url(fonts/BeautyDemo.ttf);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}


nav.black {
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    margin-top: -.5%;
    float: left;
    font-size: 5vh;
    transition: .3s;
    font-family: "Instruction";
    color: white;
}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    color: white;
    font-family: "Antipasto";
    font-size: 3.5vh;
}

nav.black ul li a {
    color: #fff;
}

section.Image-Section {
    widows: 100%;
    height: 100vh;
    background: url(images/Typing-Hand.jpg);
    background-size: cover;
    background-position: center;
}

#Activity-Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
    font-family: "Messages";
    color: white;
}

.Body-Container {
    background-color: #FAF1EB;
    text-align: center;
    
}

#Quote{
    font-family: "Antipasto";
    font-size: 3vh;
    padding: 2%;
}

#type{
    width: 800px;
   padding: 20px;
   height: auto;
   font-family: sans-serif;
   font-size: 40px;
   margin: 200px auto;
   color: #fff;
   font-weight: bold;
   background: #000
}


section.Image-Activity-Section {
    widows: 100%;
    height: 100vh;
    background: url(images/Writing.jpg);
    background-size: cover;
    background-position: center;
}



.Activity-Container {
    background-color: #F8F1EC;
    height: auto;
    width: 100%;
    text-align: center;
    float: left;
}

#Quiz-Header-Title {
    text-align: center;
    font-size: 7vh;
    font-family: "Messages";
    padding-top: 7%;
}

#Activity-hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 3%;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

#Activity-Paragraph {
    font-size: 4vh;
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
    font-family: "Antipasto";
}

.Activity-Button-Container {
    margin-left: 15%;
    margin-top: 5%;
    width: 100%;
    height: 30%;
}

.Left-Div-Button {
    position: relative;
    width: 10%;
    float: left;
}

.Center-Div-Button {
    position: relative;
    width: 8%;
    float: left;
}

.Right-Div-Button {
    position: relative;
    width: 10%;
    float: left;
}

.JS-Button:hover{
    width: 30%;
    height: auto;
}

.Beside-Text {
    font-family: Calibri Light;
    font-size: 4vh; 
    float: left;
    display: inline;
    width: 10%;
    margin-right: 5%;
    text-align: left;
    font-weight: 900;
}

.Paragraph-Text {
    font-size: 3vh;
    text-align: left;
    margin-top: 20%;
    font-family: "Quicksand";
    margin-bottom: 10%;
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
  color: black;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 17em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .50em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: white;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: pink;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

div.container {
    width: 1000px;
    border: 1px solid white;
    height: 400px;
}

header {
    padding: 1em;
    color: white;
    background-color: grey;
    clear: left;
    text-align: center;
}


article {
    padding: 1em;
    overflow: auto;
    background: white;
    height: 310px;
}

#btn {
  background: white;
  background-image: -webkit-linear-gradient(top, white, black);
  background-image: -moz-linear-gradient(top, white, black);
  background-image: -ms-linear-gradient(top, white, black);
  background-image: -o-linear-gradient(top, white, black);
  background-image: linear-gradient(to bottom, white, black);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#btn:hover {
  background: black;
  background-image: -webkit-linear-gradient(top, black, white);
  background-image: -moz-linear-gradient(top, black, white);
  background-image: -ms-linear-gradient(top, black, white);
  background-image: -o-linear-gradient(top, black, white);
  background-image: linear-gradient(to bottom, black, white);
  text-decoration: none;
}