*{
    margin: 0;
    padding: 0;
}

.prelims{
    background-image:url('Images/classroom.png');
}

#sec{
    width: 100%;
    height: 100vh;
    background-size: 100%;
	background-image: url('Images/Landing.jpg');
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    
}    

.widget center {
   background: trasitive;
    width: 5%;
}

#Text_h{
    background: rgba(254, 251, 208, 0.5);
    margin-top: 20%;
    color: white;
    font-size: 50px;
    text-align: center;
}

.Parallax{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
}

.navbar {
    overflow: hidden;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 999;
}

.navbar a {
    float: left;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 999;
}

.home {
    float: right;
    overflow: hidden;
    padding-top: 5px;
}

.home .home_button {
    font-size: 24px;    
    border: none;
    outline: none;
    color: black;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.home_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}
.home_content a {
    float: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 17px;
}

.dropdown {
    float: left;
    
}

.drop_button1 a{
    padding-top: 22px;
}

.dropdown .drop_button {
    font-size: 24px;    
    border: none;
    outline: none;
    color: black;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.navbar a:hover, .dropdown:hover .drop_button {
    background-color: black;
    color:white;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}

.dropdown_content a {
    float: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 17px;
}

.dropdown_content a:hover {
    background-color: #e6e6e6;
    color: black;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.Text_navbar{
    font-size: 24px;
    padding-top: 16px;
    float: right;
    padding-right: 2%;
}

#parallax_2 .fullvid{
    object-position: center;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    margin-bottom: 0;
}


#center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}


.Prelim_topics{
   background-color: antiquewhite;
    margin-top: -2;
}

.Topics{
    padding-left: 48%;
    padding-right: auto;
    margin-top: -3
    
}
.Topic_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    min-height: 100vh;
}

a.button{
    flex: auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    padding: 7%;
}
a.button:hover {
  background-position: right center; /* change the direction of the change here */
}

#Indi_button1{
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    margin-right: 5%;
    margin-top: 3%;
    padding: 10%;
}

#Indi_button2{
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    margin-right: 5%;
    margin-top: 3%;
}

#Indi_button3{
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    margin-top: 3%;
        
}

footer{
    background-color: darkgrey;
    text-align: center;
    color: burlywood;
}

.w_container{
    padding-top: 2%;
    
}

#Title_3w{
     position: absolute;
    left: 50%;
    top: 15%;
    color: aliceblue;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.Text_WWW{
    margin-top: 5%;
    padding-left: 4%;
}

.Text_WWW p{
    font-family: cursive;
    font-size: 30px;
}

@font-face{
	font-family:headone;
	src:url("Fonts/headone.woff"),
		url("Fonts/headone.tff"),
		url("Fonts/headone.woff2"),
		url("Fonts/headone.eot");
}

@font-face{
	font-family:linowrite;
	src:url("Fonts/linowrite.woff"),
		url("Fonts/linowrite.tff"),
		url("Fonts/linowrite.woff2"),
		url("Fonts/linowrite.eot");
}

#myVideo {
    position: fixed;
    right: 0; 
    bottom: 0;
    margin-bottom: 0;
    min-width: 50%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    object-position: center;
}

#Title{
    background: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    font-family:headone;
    font-size: 50px;
}

.topics{
    margin-top: -10px;
}

.Topic_buttons{
     display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    min-height: 100vh;
}

a.button{
    flex: auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    font-family: linowrite;
    font-style: italic;
    text-decoration:none;
    font-size:20px;
}

a.button:hover {
  background-position: right center;
    color: black;
}

#Indi_button1{
    background-image: linear-gradient(to right, #FDCFB7 0%, #A9A9A9 51%, #F5F5F5 100%);
    padding: 2%;
    margin-right: 20px;
    
}

#Indi_button2{
    background-image: linear-gradient(to right, #FDCFB7 0%, #A9A9A9 51%, #F5F5F5 100%);
    padding: 2%;
    margin-right: 20px;
}

#Indi_button3{
    background-image: linear-gradient(to right, #FDCFB7 0%, #A9A9A9 51%, #F5F5F5 100%);
    padding: 2%;
    padding: 2%;
    margin-right: 20px;  
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.button {
    background-color: #2f2f2f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #cccccc;
    margin-top: 20px;
    display: block;
    transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
    background-color: #cccccc;
    color: #2f2f2f;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    display: block;
    width: 70%;
    height: 70%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#myImg:hover {opacity: 0.7;}

#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    display: block;
    width: 70%;
    height: 70%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#myImg2:hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}