font-face {
    font-family: Antipasto;
    src: url(fonts/Antipasto-RegularTrial.ttf);
}

font-face {
    font-family: Messages;
    src: url(fonts/Messages.ttf);
}

font-face {
    font-family: Instruction;
    src: url(fonts/Instruction.otf);
}

font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand_Light.otf);
}


* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}


nav.black {
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    margin-top: -.5%;
    float: left;
    font-size: 5vh;
    transition: .3s;
    font-family: "Instruction";
    color: black;
}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    color: black;
    font-family: "Antipasto";
    font-size: 3.5vh;
}

nav.black ul li a {
    color: black;
}


.Quiz-Container {
    background-color: beige;
    margin-top: 7%;
    margin-left: 25%;   
    margin-right: 25%;   
    padding: 5%;
}